rel/files/mmyn-2.0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.mmyn.org/mmyn" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.mmyn.org/mmyn" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web services for the Mmyn SMPP Gateway Server</wsdl:documentation>
  <wsdl:types>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.mmyn.org/mmyn">
      <s:complexType name="MmynHeader">
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="System" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionID" type="s:string" />
          </s:sequence>
      </s:complexType>
      <s:complexType name="SendSmsRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="sender" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="msisdn" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="message" type="s:string" />
        </s:sequence>
      </s:complexType>

      <s:complexType name="ReplyRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="sender" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="msisdn" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="message" type="s:string" />
        </s:sequence>
      </s:complexType>

      <s:complexType name="MmynResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="detail" type="s:string" />
        </s:sequence>
      </s:complexType>

      <s:element name="Header">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fields" type="tns:MmynHeader" />
          </s:sequence>
        </s:complexType>
      </s:element>

      <s:element name="SendSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fields" type="tns:SendSmsRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fields" type="tns:MmynResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>

    <s:element name="Reply">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fields" type="tns:ReplyRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReplyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fields" type="tns:MmynResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSmsSoapIn">
    <wsdl:part name="request_header" element="tns:Header" />
    <wsdl:part name="parameters" element="tns:SendSms" />
  </wsdl:message>
  <wsdl:message name="SendSmsSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsResponse" />
  </wsdl:message>
  <wsdl:message name="ReplySoapIn">
    <wsdl:part name="request_header" element="tns:Header" />
    <wsdl:part name="parameters" element="tns:Reply" />
  </wsdl:message>
  <wsdl:message name="ReplySoapOut">
    <wsdl:part name="parameters" element="tns:ReplyResponse" />
  </wsdl:message>
  <wsdl:portType name="MmynSmppGwSoap">
    <wsdl:operation name="SendSms" parameterOrder="parameters">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send an SMS. This is not tied to any Notification</wsdl:documentation>
      <wsdl:input message="tns:SendSmsSoapIn" />
      <wsdl:output message="tns:SendSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reply">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send a reply SMS to an earlier Notification</wsdl:documentation>
      <wsdl:input message="tns:ReplySoapIn" />
      <wsdl:output message="tns:ReplySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MmynSmppGwSoapBinding" type="tns:MmynSmppGwSoap">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSms">
        <soap:operation soapAction="sendsms" style="document" />
      <wsdl:input>
        <soap:header message="tns:SendSmsSoapIn" part="request_header" use="literal" />
        <soap:body parts="parameters" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reply">
        <soap:operation soapAction="reply" style="document" />
      <wsdl:input>
        <soap:header message="tns:ReplySoapIn" part="request_header" use="literal" />
        <soap:body parts="parameters" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MmynSmppGw">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mmayen SMPP Gateway SOAP Services v2.0</wsdl:documentation>
    <wsdl:port name="MmynSmppGwSoap" binding="tns:MmynSmppGwSoapBinding">
        <soap:address location="http://localhost:11581/soap/2.0" />
    </wsdl:port>
 </wsdl:service>
</wsdl:definitions>
